body{
    background-image: url("https://cdna.artstation.com/p/assets/images/images/044/822/468/original/sofia-ritter-farm-cottage-with-chickens.gif?1641246286");
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}
iframe{
    position: absolute;
    left: 5%;
    top: 5%;
}
#title{
    font-size: xx-large;
    width:"15%"; 
    height:"125";
}

#gameArea {
    width: 600px;
    height: 550px;
    background: rgb(74, 147, 216);
    border-radius: 10px;
    border: 2px solid;
    position: relative;
}

#target {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
    transition: all 0.2s;
}
#egg {
    width: 80px;
    height: 80px;
}
#score {
    font-size: 24px;
    margin: 10px 0;

}
