body{
    background-image: url("https://cdna.artstation.com/p/assets/images/images/044/822/468/original/sofia-ritter-farm-cottage-with-chickens.gif?1641246286");
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#title{
    font-size: xx-large
}

#daArena {
    width: 500px;
    height: 500px;
    background: rgb(74, 147, 216);
    border-radius: 10px;
    border: 2px solid;
    position: relative;
}

#eggContainer{
    height: 60px;
    width: 60px;
}

#eggContainer img{
    max-width: 100%;
    max-height: 100%;
    margin: auto;
    display: block;
}

#egg {
    width: 30px;
    height: 30px;
    position: absolute;
    cursor: pointer;
    transition: all 0.3s;
}

#eggsCollected {
    font-size: 2rem;
    margin: 10px 0;
}

